body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-image: url(floor2.png);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

.title {
    color: white;
    background-image: linear-gradient(red , darkred);
    width: 1200px;
    grid-column: span 12;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.image {
    grid-column: span 4;
    border-bottom: 3px darkblue;
}

.me {
  border: 3px solid darkred;
  float: left;
  margin-right: 15px; 
  margin-bottom: 15px; 
  width: 400px; 
  height: auto;
  margin: 10px 0px 0px 0px;
  border-radius: 15px;
  box-shadow: 10px 10px red;
}

.info {
    color: white;
    background-color: darkred;
    width: 400px;
    height: auto;
    grid-column: span 4;
    margin: 10px 0px 0px 10px;
    font-family: "Sekuya", system-ui;
    text-align: center;
    box-shadow: 10px 10px red;
}

nav {
  grid-column: span 4;
  margin: 10px 30px 0px 0px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    width: 358px;
    background: darkred;
    list-style-type: none; 
    height: 130px;
    margin: 0px 20px 0px 0px;
    box-shadow: 10px 10px red;
}
nav li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    padding-left: 25px;
    color: lightskyblue;
    text-decoration: none;
    float: left;
    bottom: 0;
    font-weight: bold;
    margin: 50px 30px 30px 60px;
}
nav li a:hover {
    color: white;
    width: 295px;
    display: inline-block;
    margin: 50px 30px 30px 60px;
}
footer {
    color: white;
    background-image: linear-gradient(darkred , red);
    width: 1200px;
    height: auto;
    grid-column: span 12;
    text-align: center;
    border-collapse: separate;
    padding: 10px 0px 10px 0px;
    font-family: "Sekuya", system-ui;
    margin: 10px 0px 10px 0px;
}
.image-1 {
    grid-column: span 4;
    border-bottom: 3px darkblue;
}
.image-2 {
    grid-column: span 4;
    border-bottom: 3px darkblue;
}
.image-3 {
    grid-column: span 4;
    border-bottom: 3px darkblue;
    width: 358px;
}
.you {
  border: 3px solid darkred;
  float: left;
  margin-right: 15px; 
  margin-bottom: 15px; 
  width: 358px; 
  height: auto;
  margin: 10px 0px 0px 0px;
  box-shadow: 10px 10px red;
  border-radius: 15px;
}
.div {
    color: white;
    background-image: linear-gradient(red , darkred);
    width: 1200px;
    grid-column: span 12;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.gallery {
    width: 250px;
}