a {
  color: green;         
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
h1 {
  color: white;
}
.bluebg {
  background-color: paleturquoise;
}
h2 {
  color: blue;
}
.orangetext {
  color: orange; 
}
h3 {
  background-color: yellow;
}
.redtext {
  color: red;
}
h4 {
  color: yellow;
  background-color: green;
}
.greenbg {
  background-color: greenyellow;
}
h5 {
  color: red;
}
.yellowbg{
  background-color: yellow;
}