a {
   color: #FF0000;
}
a:link {
  color: #FF0000;
}
a:visited {
    color: #008000;
}
a:hover {
   color: #FFFF00; 
}

.orangebg {
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

#purpletext {
    color: purple;
}

.greentext {
    color: green;
    text-align: center;
}

.justify1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1 {
    color: orange;
    font-style: italic;     
    font-weight: normal;
}
h2 {
    color: orange;
    font-style: italic;     
    font-weight: normal;
}
h3 {
    color: orange;
    font-style: italic;     
    font-weight: normal;
}
.imgbox {
    border: 10px solid black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    background-color: yellow;
}
body {
    background-image: url(campus.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}