#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 3px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.whitebg {
    color: white;
    background-color: black;
    border: 2px solid black;
    grid-column: span 12;
}
nav {
  grid-column: span 3;
  
}

nav li {
    display: inline-block;
    border: 1px solid darkred;
    width: 200px;
    margin-right: 1px;
    background-color: red;
    list-style-type: none; 
    margin-bottom: 1em;
}

nav li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
nav li a:hover {
    background-color: darkred;
}
.Whitebg {
    background-color: white;
    border: 1px solid white;
    border-collapse: separate;
    grid-column: span 9;
}
h2 {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    border-bottom: 5px solid black; 
}

.border {
    grid-column: span 3;
    float: right;
    width: 200px;
    margin: 0px 200px 15px 15px;
    font-family: "Georgia", serif;
    text-align: justify;
    font-weight: bold;
}

a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
a.red-underline:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
.bluenwhitebg {
    color: white;
    background-color: red;
    border: 1px solid black;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10x;
    grid-column: span 12;
    text-align: center;
}

body {
    background-image: url(a62.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.image-with-border {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
}
