a {
   color: #FF0000;
}
a:link {
  color: #FF0000;
}
a:visited {
    color: #008000;
}
a:hover {
   color: #FFFF00; 
}

.orangebg {
    background-color: orange;
}

header {
    background-color: red;
}

main {
    background-color: yellow;
}

#purpletext {
    color: purple;
}

.greentext {
    color: green;
}